*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 1440px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}
html{
    font-size: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: middle;
}
.fill-width{
    width: 100%;
}
.bold{
    font-weight: bold;
}
.bg-red{
    background: #EB2745;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-orange{
    color: #FF802E;
}
.left{
    float: left!important;
}
.right{
    float: right!important;
}
.flex{
    display: flex;
}
.flex-v-center{
    align-items: center;
}
.flex1{
    flex: 1;
}
.m-tb-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.m-b-40{
    margin-bottom: 40px;
}
.card{
    padding: 15px;
    box-shadow: 0 0 15px 0 #ddd;
    margin: 5px;
}



/*  ------------------------ ----------------------------------- 顶部logo */
.top-info{
    height: 70px;
    margin-bottom: 10px;
    padding: 0 20px;
}
.top-info .img-100{
    height: 70px;
}
.top-info-phone{
    width: 33px;
    position: relative;
    right: 10px;
}
/* -------------------------------------------------- 导航部分 */
nav{
    height: 70px;
    background: #34C7BE;
    padding: 0 40px;
    font-size: 20px;
    color: white;
}
nav li{
    text-align: center;
    float: left;
}
.nav-item{
    display: inline-block;
    font-size: 14px;
    padding: 25px;
    font-weight: bold;
}
.teach-class-nav li:nth-child(3){
    background: #33B4F5;
}
nav .sign{
    float: right;
    font-size: 15px;
    padding: 25px;
}
nav .sign span{
    display: inline-block;
    border: 1px solid white;
    padding: 2px 40px;
    border-radius: 20px;
}
nav .bg-red{
    width: 240px;
    position: relative;
}
.header-class-item{
    position: relative;
}
.header-class-item:hover .header-class{
    display: block;
}
.header-class{
    position: absolute;
    top: 70px;
    width: 240px;
    z-index: 9;
    /* overflow: auto; */
    height: 360px;
    line-height: 30px;
    text-align: left;
    color: #333333;
    font-size: 12px;
    background: #e1e1e1;
    display: none;

}
.header-class dd{
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    color: #333333;
}
.header-class dd:hover{
    background: #f5f5f5;
}
.header-class dd:hover .header-class-more{
    display: block;
}
.header-class-more{
    position: absolute;
    top: 0;
    left: 240px;
    width: 960px;
    height: 360px;
    overflow: auto;
    padding: 20px;
    background: #f5f5f5;
    display: none;
}
.header-class-more-title{
    line-height: 20px;
    padding-left: 5px;
    font-size: 18px;
    border-left: 4px solid #f12c3e;
}
.am-margin-bottom{
    margin-bottom: 1.6rem;
}
.header-class-more .classes{
    background: inherit;
    padding: 0;
    justify-content: unset;
}
.header-class-more .class-card{
    width: 30%;
    height: inherit;
    margin-right: 25px;
}
.header-class-more .class-card>div{
    height: 80px;
}


/* ----------------------------------首页样式 ------------------------------------ */
.home section{
    margin-bottom: 10px;
}
.step-point-title{
    font-size: 38px;
    font-weight: bold;
}
.step-point-title-line{
    display: inline-block;
    border-top: 5px solid #FF802E;
    width: 90px;
    border-radius: 20px;
    position: relative;
    top: -10px;
    margin: 0 15px;
}
.point-steps{
    height: 220px;
    padding: 0 70px;
    margin: auto;
    width: 1300px;
}
.point-step-card{
    width: 340px;
    height: 210px;
    float: left;
}
.point-step-card-title{
    height: 100px;
}
.point-step-card-desc{
    text-align: center;
    font-size: 20px;
    width: 200px;
    margin: 5px auto;
    color: #999;
    line-height: 30px;
}
.step-line{
    border-right: 5px solid #999;
    height: 60px;
    border-radius: 10px;
    margin: 15px;
    position: relative;
    top: 5px;
}
.step-arrow span{
    font-size: 17px;
    width: 70px;
    height: 50px;
    display: inline-block;
    background: #E1262C;
    font-weight: bold;
    color: white;
    position: relative;
    margin-right: 20px;
}
.step-arrow span::after{
    content: "";
    border: 0 solid transparent;
    border-width: 25px 30px;
    border-left-color: #E1262C;
    border-right-width: 0;
    position: absolute;
    top: 0%;
    left: 100%;
}
.home-hotline{
    font-size: 22px;
    font-weight: bold;
    color: #EE3541;
    margin-top: 20px;
}
.home-hotline img{
    width: 28px;
    position: relative;
    right: 10px;
}





/* 课程 */
.home .classes{
    width: 1100px;
    margin: auto;
}
.classes-container{
    background: #EDEFF2;
}
.classes{
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.class-card{
    width: 340px;
    height: 370px;
    background: white;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.class-card img{
    width: 100%;
}
.class-card div{
    padding: 10px;
}
.class-card .bold{
    font-size: 24px;
    color: #333;
    margin-top: 10px;
    font-weight: 500;
    transition: all .3s;
}
.class-card .sub{
    font-size: 17px;
    margin: 10px 0;
    color: #999;
}



/* ------------------------------------------  在线操作 ----------------------------------- */
.online-opt h2{
    text-align: center;
    font-size: 45px;
    width: 720px;
    margin: 20px auto;
    border: 1px solid #999;
}
.online-opt h2 span{
    color: #EB2745;
}
.opt-circle-text{
    font-size: 24px;
    display: inline-block;
    text-align: center;
    background: #E1262C;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    padding: 7px 8px;
    margin: 5px;
}
.online-opt .point-step-card-title{
    height: 77px;
}
.opt-step-title{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* ---------------------------------------  教学模式 ----------------------------------------- */
.teach-modle{
    padding: 0 70px;
}
.teach-modle h2{
    text-align: center;
    font-size: 42px;
    width: 720px;
    margin: 20px auto;
    border: 1px solid #999;
    color: #FF7F27;
}
.teach-modle table {
    margin: auto;
    color: #FF7F27;
    font-size: 35px;
    font-weight: bold;
}
.teach-modle .img-container{
    overflow: hidden;
    width: 285px;
    height: 250px;
}
.teach-modle .img-container img{
    height: 100%;
}
.teach-modle .second-line td{
    padding-top: 15px;
}
.teach-modle .second-line td img{
    margin: 0 12px;
}













footer{
    padding: 25px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    background-color: #F6F5F5;
}

.float-menu{
    position: fixed;
    right: 0;
    top: 25%;
    z-index: 20;
    text-align: center;
}
.float-menu ul{
    border: 1px solid #E0E0E0;
    background: #FFF;
    padding-left: 0px;
}
.float-menu li:first-child{
    color: #fff;
    background: #E60012;
    border-color: #E60012;
}
.float-menu li a{
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
    display: inline-block;
}
.float-menu li:last-child a {
    border-bottom-style: none;
    background: #E60012;
    color: #FFF;
}




